.users-session {
    display: flex;
    width: 100vw;
}

.users-session-left-part {
    width: 50%;
    margin: 0px 15px 0px 25px;
}

.users-session-right-part {
    width: 50%;
    margin: 0px 25px 0px 15px;
}

.user-session-input {
    padding: 15px 30px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 12pt;
    margin-left: 10px;
    height: 24px;
}

.user-session-form {
    height: 56px;
    border: 1px solid gray;
}

.user-session-input-div {
    margin: 25px;
    margin-top: 0px;
}