.admin-dashboard-topbar {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.admin-dashboard-topbar-button {
    background-color: transparent;
    border: none;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
}

.admin-dashboard-topbar-button:hover {
    background-color: #ddd;
}

.admin-dashboard-topbar-button:active {
    background-color: #bbb;
}

.admin-dashboard-button-icon {
    margin-right: 10px;
}