.bookings-session {
    border-radius: 10px;
    display: flex;
    width: 100vw;
}

.bookings-session-middle-part {
    width: 33%;
    margin: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.bookings-session-left-part {
    width: 33%;
    margin: 20px;
    margin-right: 10px;
}

.bookings-session-right-part {
    width: 33%;
    margin: 20px;
    margin-left: 10px;
}