.admin-nav-button {
    position: relative;
    padding: 40px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    height: 150px;
    width: 200px;
}

.admin-nav-button:hover {
    background-color: #aaa;
}

.admin-nav-button:active {
    background-color: #814CB2;
    color: white;
}

.admin-nav-icon {
    position: absolute;
    right: 20px;
    top: 20px;
}

.admin-nav-text {
    position: absolute;
    left: 20px;
    bottom: 10px;
}