.register-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: #565C63;
}

.register-window {
    display:flex;
    flex-direction:column;
    justify-items: center;
    align-items: center;
    height: 60vh;
    width: 30vw;
    background: #3B3F45;
    padding: "20px";
}

.register-bus-image{
    height: 60vh;
    width: 30vw;
    background-color: blue;
    margin: 20px;
}

.register-box {
    display: inline-flex;
    /* background-color: #565C63; */
    background: #3B3F45;
    height: 65vh;
    padding: 20px;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}

.register-input {
    margin: 10px;
    width: 53vh;
    height: 35px;
    background: #565C63;
    border: none;
    padding-left: 8px;
}

.register-button {
    margin: 10px;
    margin-top: 20px;
    width: 53vh;
    height: 40px;
    padding: 5px;
    background: #814CB2;
    
}
.register-head {
    font-family:'Franklin Gothic Medium';
    font-size: 51px;
    margin-top: 50px;
    margin-bottom: 0px;
}
.login-link {
    justify-self: left;
    align-self: flex-start;
    margin-left: 20px;
}

.register-agree-checkbox {
    justify-self: left;
    align-self: flex-start;
    margin-left: 20px;
}