.user-booking-page {
    padding: 10px;
}

.user-booking-page-heading {
    border-top: 1px solid gray;
    padding-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.filters-and-buses{
    display: flex;
}

.bus-ticket-heading {
    font-weight: bold;
    font-size: 20px;
}

.from-to-heading {
    font-size: 20px;
}

.from-to-third-heading {
    display: flex;
    align-items: center;
}

.user-booking-from {
    font-size: 16px;
    margin-right: 10px;
    font-weight: lighter;
}

.user-booking-to {
    font-size: 16px;
    margin-left: 10px;
    font-weight: lighter;
}

.from-to-date-container {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: row;
    margin: 10px 10px 30px 0px;
    align-items: center;
}

.date-container {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date {
    font-size: 16px;
    margin: 0px;
}

.day {
    font-size: 16px;
    margin: 0px;
}

.modify-button {
    margin-left: 20px;
    padding: 5px 20px;
    font-size: 12pt;
    border: 1px solid gray;
    border-radius: 2px;
    background-color: #fff;
    color: gray;
    cursor: pointer;
}

.modify-button:hover {
    color: black;
}