.admin-navigation-session {
    display: flex;
    flex-direction: column;
    align-self: self-start;
    background-color: pink;
    height: auto;
    position: relative;
    margin-bottom: 180px;
}

.admin-navigation-session-background {
    background-color: #F46E6E;
    width: 100vw;
    height: 250px;
}

.admin-navigation-session-buttons {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 150px;
    width: 100%;
}