.landing-page-contents {
    padding: 35px;
}

.landing-page-heading {
    font-size: 36px;
}

.landing-page-text {
    font-size: 16pt;
}

.landing-page-faq-link {
    font-size: 36px;
    margin-bottom: 0px;
}

.landing-page-bottom-div {
    border-top: 1px solid gray;
    padding: 10px 40px;
}