.filter {
    border: 1px solid gray;
    width: 300px;
    padding: 20px 20px;
    align-self: flex-start;
    margin-right: 10px;
}

.filter-and-reset {
    display: flex;
    justify-content: space-between;
}

.checkbox-area {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.checkbox-area * {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.filter-checkbox {
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    
    width: 30px; 
    height: 30px;
    
    border: 2px solid #814CB2; 
    border-radius: 5px; 
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.filter-checkbox:checked::before {
    content: "✔"; 
    font-size: 20px;
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #814CB2; 
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset-heading {
    color: #814CB2;
}
